
alias ll='ls -lah --color=auto'

alias cdd='cd ~/Downloads'
alias cdD='cd ~/Documents'
alias cdw='cd ~/work'
alias cdp='cd ~/personal'

alias cdnc='cd ~/.config/nvim'

# GIT
alias ngc='npm run commit'

alias fs='fd --type f --type l --max-depth=1 --hidden --exclude .git | fzf-tmux -p | xargs nvim'
alias ds='fd --type d --max-depth=1 | fzf-tmux -p | xargs nvim'

# Re maps
alias vim='nvim'
alias nvm='fnm'

alias fhnw-vpn='gtk-launch com.cisco.secureclient.gui &'
alias pdfconvert='soffice --headless --convert-to pdf'

alias tn='tmux new -s'
